doctype html
html
    head
        style
            include style.css

    body
        | Hello #{name}
    p You refresh password

    p you can use this
        a(href=`http://localhost:5100/auth/passwordchanger/${token}`) REFERENCE

    div
        | http://localhost:5100/auth/passwordchanger/#{token}
