doctype html
html
    head
        style
            include style.css

    body
        | Hello word
    p test

    div.header
        | 123 test test
        br
        a(href='google.com') Click here!
